
.choose-us {
  background-image: url("/public/nosotros1.png"); 
  background-size: cover;
  background-position: center;
  padding: 3rem 1rem; /* Ajustamos el padding para un diseño más compacto */
  color: #fff; 
  font-family: "Roboto", sans-serif;
  text-align: center;
  position: relative;
  min-height: 100vh; /* Aseguramos que el contenido esté centrado verticalmente */
  display: flex;
  justify-content: center;
  align-items: center;
}


.choose-us::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); 
  z-index: -1; 
}


.text-background {
  background: rgba(255, 255, 255, 0.9); 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  max-width: 600px; 
  margin: 0 auto;
  position: relative;
  z-index: 1;
}


.title {
  font-size: 2.5rem; 
  margin-bottom: 1.5rem; 
  color: #fff; 
}


.intro-text {
  font-size: 1.1rem; 
  color: #fff; 
  margin-bottom: 1.5rem;
  font-weight: 300;
}


.reasons-list {
  list-style: none;
  padding: 0;
}

.reasons-list li {
  font-size: 1rem;
  margin-bottom: 1rem;
  line-height: 1.4;
  display: flex;
  gap: 0.5rem;
  text-align: left;
  padding-left: 1.5rem;
  position: relative;
}

.reasons-list strong {
  color: #e74c3c;
  font-size: 1.2rem;
}

.reasons-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #e74c3c;
  font-size: 1.5rem;
  top: 0;
  margin-top: 0.2rem;
}

/* Responsivo */
@media (max-width: 768px) {
  .choose-us {
    padding: 2rem 1rem; /* Ajustamos el padding para pantallas más pequeñas */
  }

  .text-background {
    padding: 1rem;
  }

  .title {
    font-size: 2rem; /* Ajustamos el tamaño del título para móviles */
  }

  .reasons-list li {
    font-size: 0.9rem; /* Reducimos el tamaño de la lista para pantallas más pequeñas */
  }
}
