.choose-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("/public/inicio.png ");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 3rem 1rem;
  position: relative;
  color: white;
}

.text-background {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.intro-text {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.reasons-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.reasons-list li {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  color: #f0f0f0;
}

.reasons-list strong {
  font-size: 1.1rem;
  color: #ffdd57;
}

.reasons-list li:hover {
  transform: translateX(10px);
  transition: 0.3s ease;
  color: #fff;
}


@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .intro-text {
    font-size: 1rem;
  }

  .reasons-list li {
    font-size: 0.9rem;
  }
}
