.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
  background-image: url("/public/img1.png");
  background-size: cover;
  background-position: center;
  color: white;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.137);
  z-index: 0;
}

.contact-header {
  margin-bottom: 3rem;
  position: relative;
  z-index: 1;
}

.contact-header h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact-header p {
  font-size: 1.25rem;
  color: #d3d3d3;
  line-height: 1.6;
  font-weight: 300;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  z-index: 1;
}

.contact-icon {
  display: inline-block;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.contact-icon img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.contact-icon:hover {
  transform: scale(1.1);
}

.contact-icon:hover img {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .contact-header h1 {
    font-size: 2.5rem;
  }

  .contact-header p {
    font-size: 1rem;
  }

  .contact-icons {
    flex-wrap: wrap;
    gap: 1.5rem;
  }
}

@media (max-width: 480px) {
  .contact-icons {
    gap: 1rem;
  }
}
