.gallery {
  position: relative;
  padding: 40px 30px;
  background-image: url("/public/inicio.png"); /* Cambia por tu imagen de fondo */
  background-size: cover; /* Asegúrate de que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen de fondo */
  color: white;
  text-align: center;
  min-height: 100vh; /* Asegura que la sección ocupe al menos la altura de la ventana */
}

.gallery h1 {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Añade sombra al texto para mejor legibilidad */
}

.gallery-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive */
  gap: 15px; /* Espacio entre las imágenes */
}

.gallery-content img {
  width: 100%;
  height: auto; /* Mantiene la proporción de las imágenes */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
  opacity: 0; /* Comienza invisible */
  transform: translateY(20px); /* Desplaza la imagen hacia abajo */
  animation: fadeInUp 0.5s forwards; /* Aplica la animación */
}

/* Animación para las imágenes */
@keyframes fadeInUp {
  to {
    opacity: 1; /* Al final de la animación, la imagen es completamente visible */
    transform: translateY(0); /* Regresa a su posición original */
  }
}

/* Aplicar un retraso a las imágenes */
.gallery-content img:nth-child(1) {
  animation-delay: 0.1s; /* Retraso para la primera imagen */
}
.gallery-content img:nth-child(2) {
  animation-delay: 0.2s; /* Retraso para la segunda imagen */
}
.gallery-content img:nth-child(3) {
  animation-delay: 0.3s; /* Retraso para la tercera imagen */
}
.gallery-content img:nth-child(4) {
  animation-delay: 0.4s; /* Retraso para la cuarta imagen */
}
.gallery-content img:nth-child(5) {
  animation-delay: 0.5s; /* Retraso para la quinta imagen */
}
.gallery-content img:nth-child(6) {
  animation-delay: 0.6s; /* Retraso para la sexta imagen */
}
.gallery-content img:nth-child(7) {
  animation-delay: 0.7s; /* Retraso para la séptima imagen */
}
.gallery-content img:nth-child(8) {
  animation-delay: 0.8s; /* Retraso para la octava imagen */
}
