.home {
  position: relative;
  height: 100vh;
  background-image: url("/public/inicio.png");
  background-size: cover;
  background-position: center;


  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  z-index: 1; 
  color: white; 
  text-align: center;
  padding: 20px;
  opacity: 0; 
  transform: translateY(20px); /* Comienza ligeramente desplazado hacia abajo */
  animation: fadeInUp 2s ease-in-out forwards; /* Aplica la animación */
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 7, 7, 0.1);
  z-index: 0; /* Asegura que el overlay esté por debajo del contenido */
}

/* Definición de la animación */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Comienza ligeramente abajo */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Llega a su posición final */
  }
}

.phome {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.h1home {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}


.social-icons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 15px;
  z-index: 2; 
}

.social-icon {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.social-icon:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.social-icon:focus {
  outline: none;
}

.social-icon:active {
  transform: scale(0.95);
}
