.logo {
  display: inline-block;
  margin-right: 10px;
}

.logo-icon {
  height: 97px;
  width: auto;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 2px;
}

.encabezado {
  background-color: #c7c5c6;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  width: 100%;
}

.enlace {
  flex: 1;
  text-align: center;
  margin: 0 10px;
  text-decoration: none;
  color: rgb(14, 13, 13);
  padding: 10px;
  transition: background-color 0.3s ease;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
}

.enlace:hover {
  background-color: rgba(68, 173, 180, 0.63);
  color: rgb(235, 228, 228);
}

@media (max-width: 768px) {
  .encabezado {
    flex-direction: column;
    align-items: flex-start;
  }

  .enlace {
    width: 100%;
    text-align: left;
  }
}
